<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Menu" value="Please Select from the following options:
                1. Rotate Clockwise
                2. Rotate Anti-clockwise
                3. Print Cube
                0. Exit
                "/>
        <add key="SideSelection" value="Please Select from the following options:
                1. Front
                2. Back
                3. Left
                4. Right
                5. Top
                6. Bottom
                0. Back
                "/>
        <add key="InvalidOperation" value="Sorry, that is not a vaid operation.
                "/>
        <add key="RotateFront90" value="Rotating the front face 90 degrees clockwise.
                "/>
        <add key="RotateFrontAnti90" value="Rotating the front face 90 degrees anti-clockwise.
                "/>
        <add key="RotateRear90" value="Rotating the rear face 90 degrees clockwise.
                "/>
        <add key="RotateRearAnti90" value="Rotating the rear face 90 degrees anti-clockwise.
                "/>
        <add key="RotateTop90" value="Rotating the top face 90 degrees clockwise.
                "/>
        <add key="RotateTopAnti90" value="Rotating the top face 90 degrees anti-clockwise.
                "/>
        <add key="RotateBottom90" value="Rotating the bottom face 90 degrees clockwise.
                "/>
        <add key="RotateBottomAnti90" value="Rotating the bottom face 90 degrees anti-clockwise.
                "/>
        <add key="RotateLeft90" value="Rotating the left face 90 degrees clockwise.
                "/>
        <add key="RotateLeftAnti90" value="Rotating the left face 90 degrees anti-clockwise.
                "/>
        <add key="RotateRight90" value="Rotating the right face 90 degrees clockwise.
                "/>
        <add key="RotateRightAnti90" value="Rotating the right face 90 degrees anti-clockwise.
                "/> 
    </appSettings>
</configuration>
